<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>더하기 서버</title>
    <stlye>

    </stlye>

    <script>
        window.onload = function(){
            const params =
            document.querySelector("#button").onclick = function(){
                console.log(document.querySelector("#test1").value)
                console.log(document.querySelector("#test2").value)
            }

          




        }
        

    </script>
</head>
<body>
    <h1>add</h1>
    <input type="text" id="test1">
    <h1>add2</h1>
    <input type="text" id="test2">
    <input type="button" value="더하기" id="button">

    <h1>add3</h1>
    <div id="kk"></div>
</body>
</html>