<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04_1</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        wrapper{
            display: block;
            width: 1200px;
            height: 600px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <wrapper>
        <header>로고</header>
        <section>
            <div>내용</div>
            <div>내용</div>
            <div>내용</div>
            <div>내용</div>
            <div>내용</div>
            <div>내용</div>
            <div>내용</div>
            <div>내용</div>
        </section>
    </wrapper>
    
</body>
</html>