<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fff/css/css.css" class="">
</head>
<body>
    <!-- 주소의 기준 :  현재 페이지의 URL을 기준
    (현재 파일의 위치가 아님) 
    -->
    <h1>qwer입니다</h1>
    <img src="/fff/qqq/aa1.jpg" alt="">
    <img src="../fff/qqq/aa2.jpg" alt="">

    <hr>
    <img src="/public/aa2.jpg" alt="">
    <img src="/assets/aa2.jpg" alt="">

    <hr>
    <img src="/public/aa1.jpg" alt="">
    <img src="/assets/aa2.jpg" alt="">

    <hr>
    <img src="/public/aa1.jpg" alt="">
    <img src="/public/aa2.jpg" alt="">

</body>
</html>