section{
    background-color: rgb(27, 49, 68);
    width: 800px;
    height: 900px;
}





aside{
    width: 100px;
    height: 300px;
    background-color: rgb(138, 209, 209);
    float: left;
}

main{
    width: 100px;
    height: 100px;
    float: right;
    background-color: rgb(32, 30, 28);
}


footer{
    width: 0 auto;
    height: 50px;
    margin-top: 300px;
    background-color: rgb(111, 241, 60);
}