#big{
    width: 500px;
    height: 800px;
    border: 2px solid;
}


#hd{
    background-color: bisque;
    width: 100%;
    height: 100px;
}

#Side{
    background-color: #48f883;
    width: 30%;
    height: 400px;
    float: left;
}


#Main{
    background-color: rgb(164, 164, 199);
    width: 70%;
    height: 400px;
    float: right;
}

#Footer{
    background-color: bisque;
    width: 100%;
    height: 600px;
    
}